/* Reset styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

/* Set body width and hide horizontal overflow */
html {
  width: 100vw;
  overflow-x: hidden;
}

/* Lander section styles */
.lander {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 7rem;
  animation: blurin 3s;
}

.lander h1 {
  text-align: center;
  background: radial-gradient(circle, #095256ff 0%, #087f8cff 25%, #5aaa95ff 50%, #86a873ff 75%);
  font-size: 4.2rem;
  background-clip: text, border-box;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradient 10s linear infinite alternate;
  margin-bottom: 20px;
  font-size: 8rem;
  filter: drop-shadow(2px 2px 5px #86a873);
}

@keyframes blurin {
  from {
    filter: blur(8px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* Section 2 styles */
.section2 {
  height: 100vh;
  width: 100vw;
}

.section2-sections {
  height: 49%;
  width: 100%;
  overflow: auto;
  display: flex;
}

.section2-img {
  height: 100%;
  width: 29%;
  display: inline-block;
  flex: 1;
}

.section2-img1 img {
  height: 99%;
  width: 99%;
  object-fit: contain;
  float: left;
  padding-left: 15%;
}

.section2-img2 img {
  height: 99%;
  width: 99%;
  object-fit: contain;
  float: right;
  padding-right: 15%;
}

.section2 img {
  transition: filter 0.3s ease;
}

.section2 img:hover {
  filter: blur(2px);
}

.section2-text {
  color: black;
  display: inline-block;
  flex: 1;
  justify-content: center;
  transition: color 1s, animation 0.3s ease, transform 0.3s ease;
}

.section2-text:hover {
  color: #087f8c;
  transform: translateY(-10px);
}

.section2-text h4,
.section2-text h3 {
  display: flex !important;
  align-items: center;
  height: 49.9%;
  width: 70%;
  font-size: x-large;
  padding-top: 125px;
  padding-left: 10%;
  padding-right: 10%;
}
